.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    width: 1200px;
}

.card {
    width: 60%;
    height: auto;
    background-color: #f4f4f4;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.04);
}

.card-content {
    font-size: 22px;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.card-text {
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    line-height: 0.8;
}
.card-text-4 {
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    line-height: 1.2;
}

.card-text li{
    line-height: 1.3;
}

.card-image{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.card-hiden-text {
    font-size: 10px;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.card-image:hover .card-hiden-text {
    opacity: 1;
}

.nav-button {
    background-color: #363636;
    color: white;
    border: none;
    padding: 12px 18px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #c0cbff;
}

.nav-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}